.feynman__link{
    
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    text-align: right;
   position: absolute;
    top:50%; /*отступаем от верхней части, т.к нам мешает отступ (WHAY?) 299 на 350*/
   right: 48px;
    text-decoration: none;
    color: #2f80ed;
}